Package: com.insanj.slickgram
Name: SlickGram
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm
Description: Push away the tab bar in Instagram.
Maintainer: Julian Weiss <insanjmail@insanj.com>
Author: Julian (insanj) Weiss
Section: Tweaks
